#traffic_subtitle {
	font-size: 10pt;
	margin-left: 10px;
	text-transform: capitalize;
}

#traffic_table td {
	padding-right: 20px;
	vertical-align: top;
	padding-top: 0px !important;
}

#traffic_table td:nth-child(1) {
	width: 150px;
	text-overflow: ellipsis;
}

#traffic_table td:nth-child(2) {
	text-transform: capitalize;
	padding-right: 40px;
	width: 340px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

ul#traffic_table_originList {
    list-style-type: none;
    padding-left: inherit;
}

li#traffic_table_locality {
    padding-top: inherit;
    font-size: medium;
}

li#traffic_table_place {
    padding-top: inherit;
}